@page "/adapters"
@using flexGateway.Shared
@inject HttpClient Http

<h1>Adapters</h1>

@if (types != null)
{
<select @bind="selected">
    @foreach(var item in types)
    {
        <option value="@item.TypeAsString">@item.Name</option>
    }
</select>
}
<p>Selected: @selected</p>


@code {       
    private AdapterModel[] types;
    private string selected;

    protected override async Task OnInitializedAsync()
    {
        types = await Http.GetFromJsonAsync<AdapterModel[]>("Adapter");
    }

    }

