@page "/adapters"
@using flexGateway.Shared
@inject HttpClient Http

<h1>Adapters</h1>

@if (types != null)
{
<select id="select-box" @onchange="@((ChangeEventArgs e) => OnUpdate(e))">
    @foreach (var item in types)
    {
        <option value="@item.FullName">@item.Name</option>
    }
</select>
}

@if(model != null)
{
<textarea @bind="model.JsonConfiguration"/>

<button @onclick="OnClick">Post</button>
}

@code {
    private AdapterModel[] types;
    private AdapterModel model;

    protected override async Task OnInitializedAsync()
    {
        types = await Http.GetFromJsonAsync<AdapterModel[]>("Adapter");
    }

    private void OnUpdate(ChangeEventArgs e)
    {
        model = types.Where(x => x.FullName == e.Value.ToString()).FirstOrDefault();
    }

    private async Task OnClick()
    {
        await Http.PostAsJsonAsync<AdapterModel>("adapter", model);
    }
}

