@page "/adapter"
@using flexGateway.Shared
@inject HttpClient Http

<h1>Adapters</h1>

@if (registeredAdapters != null)
{
    <select name="adapters" @onchange="@OnValueChanged">
        @foreach (var model in registeredAdapters)
        {
<option value="@model">@model.Name</option>}
    </select>
}

   <button @onclick="OnButtonClick">Add Adapter</button>



@code {     private TypeModel[] registeredAdapters;
    private TypeModel selectedAdapter;

    protected override async Task OnInitializedAsync()
    {
        registeredAdapters = await Http.GetFromJsonAsync<TypeModel[]>("types/getadaptertypes");
    }

    private async Task OnButtonClick()
    {
        await Http.PostAsJsonAsync<AdapterModel>("adapter/post", new AdapterModel("Hello World", registeredAdapters[0], ""));
    }

    private void OnValueChanged(ChangeEventArgs e)
    {
        selectedAdapter = (TypeModel)e.Value;
    }
    }

