@page "/adapters"
@using flexGateway.Shared
@inject HttpClient Http

<h1>Adapters</h1>

@if (types != null)
{
<select id="select-box">
    @foreach (var item in types)
    {
        <option value="@item.TypeFullName">@item.Name</option>
    }
</select>

<button @onclick="@GetPublisher">GET</button>
<button @onclick="@PostAdapter">POST</button>
}

@code {
    private AdapterConfigurationModel[] types;

    protected override async Task OnInitializedAsync()
    {
        types = await Http.GetFromJsonAsync<AdapterConfigurationModel[]>("adapter/getalltypes");
    }

    public async Task PostAdapter()
    {
        AdapterConfigurationModel model = new AdapterConfigurationModel("Hello World", types[0].TypeFullName, types[0].JsonConfiguration);
        await Http.PostAsJsonAsync<AdapterConfigurationModel>("adapter/postPublisher", model);
     }

    public async Task GetPublisher()
    {
        var adapters = await Http.GetFromJsonAsync<AdapterModel[]>("adapter/getPublishers");
        Console.WriteLine(adapters[0].Guid);
    }

}

