@page "/adapters"
@using flexGateway.Shared
@inject HttpClient Http

<h1>Adapters</h1>

<h2>Source</h2>


<h2>Publishers</h2>

<h1>Available Types</h1>
@if (types != null)
{
<RadzenListBox @bind-Value="selected" Data="@types" TextProperty="Name" ValueProperty="TypeFullName"/>
}

@code {
    private AdapterConfigurationModel[] types;
    private string selected;

    protected override async Task OnInitializedAsync()
    {
        types = await Http.GetFromJsonAsync<AdapterConfigurationModel[]>("adapter/getalltypes");
    }

    public async Task PostAdapter()
    {
        AdapterConfigurationModel model = new AdapterConfigurationModel("Hello World", types[0].TypeFullName, types[0].JsonConfiguration);
        await Http.PostAsJsonAsync<AdapterConfigurationModel>("adapter/postPublisher", model);
     }

    public async Task GetPublisher()
    {
        var adapters = await Http.GetFromJsonAsync<AdapterModel[]>("adapter/getPublishers");
        Console.WriteLine(adapters[0].Guid);
    }

}

