@page "/nodes"
@using flexGateway.Shared
@using Microsoft.AspNetCore.SignalR.Client;
@inject HttpClient Http

<h1>Nodes</h1>




@code {
        protected override async Task OnInitializedAsync()
        {
           


        }
}

